{
  "presets": ["latest"],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-regenerator", { "async": true }],
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
